In [1]:

import numpy as np
import matplotlib.pyplot as plt
import math

import pandas as pd

In [2]:
inputs = pd.read_csv('data/affine_1.csv',delimiter=',', header=None) #loading inputs from a different file 
print (inputs.shape)
targets = pd.read_csv('data/UTM1.csv',delimiter=',', header=None) # loading targets
print(targets.shape)

trains = pd.read_csv('data/Cass_f1.csv',delimiter=',', header=None) #loading inputs from a different file 
print (trains.shape)
trains_labels = pd.read_csv('data/utm_test1.csv',delimiter=',', header=None) # loading targets
print (trains_labels.shape)
test = pd.read_csv('data/Xtest.csv',delimiter=',', header=None) # loading targets
print(test.shape)


labels = pd.read_csv('data/yTest.csv',delimiter=',', header=None) # loading targets
print(labels.shape)

(64, 6)
(64, 1)
(16, 2)
(16, 2)
(17, 2)
(17, 2)

In [3]:
test

              0            1
0  -12021.28152 -62622.92784
1  -12035.27184 -65746.82304
2  -10744.93152 -67008.81696
3  -12351.34944 -56218.34832
4  -14596.93296 -58259.80728
5  -15265.26792 -65404.53264
6  -12178.58880 -60260.60592
7  -10220.37072 -60072.20904
8  -14435.41944 -66774.54768
9  -10767.79152 -65559.37104
10 -13838.37720 -60329.33832
11 -16116.84864 -64557.37152
12 -10132.43592 -66613.24752
13 -15093.02544 -55550.13528
14 -12247.77840 -59176.06656
15 -13088.87400 -56058.08448
16 -14034.94272 -66681.61416

In [4]:
labels

           0          1
0   265479.7  9937546.5
1   265466.8  9934421.8
2   266758.0  9933160.0
3   265147.5  9943952.5
4   262901.9  9941909.8
5   262235.9  9934763.0
6   265321.6  9939909.3
7   267280.3  9940098.4
8   263066.4  9933392.9
9   266734.6  9934609.7
10  263661.4  9939840.0
11  261383.7  9935610.1
12  267370.5  9933555.9
13  262404.9  9944620.0
14  265252.0  9940994.1
15  264409.7  9944112.6
16  263467.0  9933486.0

In [5]:

affine= inputs.to_numpy()
EnUTM = targets.to_numpy()
print (type(affine))
print (type(inputs))
print (type(EnUTM))
print (EnUTM.shape)

<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
(64, 1)

In [6]:
A = affine
print(A)
At=A.T

[[-1.24020072e+04 -5.60750009e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.24020072e+04
  -5.60750009e+04  1.00000000e+00]
 [-1.22353426e+04 -6.36504086e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.22353426e+04
  -6.36504086e+04  1.00000000e+00]
 [-1.23781414e+04 -5.84379934e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.23781414e+04
  -5.84379934e+04  1.00000000e+00]
 [-1.02850188e+04 -5.78668286e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.02850188e+04
  -5.78668286e+04  1.00000000e+00]
 [-1.47224801e+04 -5.72091312e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.47224801e+04
  -5.72091312e+04  1.00000000e+00]
 [-1.43052394e+04 -5.96565228e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.43052394e+04
  -5.96565228e+04  1.00000000e+00]
 [-1.19995188e+04 -5.57024134e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.19995188e+04
  -5.57024134e+04  1.00000000e+00]
 [-1.56820514e+04 -6.20905946e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.56820514e+04
  -6.20905946e+04  1.00000000e+00]
 [-1.43055137e+04 -6.00928440e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.43055137e+04
  -6.00928440e+04  1.00000000e+00]
 [-1.25167644e+04 -5.55834194e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.25167644e+04
  -5.55834194e+04  1.00000000e+00]
 [-1.19315484e+04 -6.14506975e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.19315484e+04
  -6.14506975e+04  1.00000000e+00]
 [-1.42476322e+04 -5.72418362e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.42476322e+04
  -5.72418362e+04  1.00000000e+00]
 [-1.20656604e+04 -6.46336934e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.20656604e+04
  -6.46336934e+04  1.00000000e+00]
 [-1.39690450e+04 -6.31765361e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.39690450e+04
  -6.31765361e+04  1.00000000e+00]
 [-1.34836205e+04 -6.36589126e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.34836205e+04
  -6.36589126e+04  1.00000000e+00]
 [-1.53327811e+04 -5.89395418e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.53327811e+04
  -5.89395418e+04  1.00000000e+00]
 [-1.39531649e+04 -6.12847034e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.39531649e+04
  -6.12847034e+04  1.00000000e+00]
 [-1.42100503e+04 -6.22757911e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.42100503e+04
  -6.22757911e+04  1.00000000e+00]
 [-1.43330371e+04 -5.63926025e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.43330371e+04
  -5.63926025e+04  1.00000000e+00]
 [-1.23371762e+04 -6.22205309e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.23371762e+04
  -6.22205309e+04  1.00000000e+00]
 [-1.56578503e+04 -5.56681843e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.56578503e+04
  -5.56681843e+04  1.00000000e+00]
 [-1.42836595e+04 -6.43314842e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.42836595e+04
  -6.43314842e+04  1.00000000e+00]
 [-1.03296720e+04 -6.19742220e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.03296720e+04
  -6.19742220e+04  1.00000000e+00]
 [-9.97893864e+03 -6.11550110e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -9.97893864e+03
  -6.11550110e+04  1.00000000e+00]
 [-1.26059184e+04 -6.07014382e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.26059184e+04
  -6.07014382e+04  1.00000000e+00]
 [-1.06563566e+04 -6.31113089e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.06563566e+04
  -6.31113089e+04  1.00000000e+00]
 [-1.01469749e+04 -6.46121136e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.01469749e+04
  -6.46121136e+04  1.00000000e+00]
 [-1.24294392e+04 -5.71495123e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.24294392e+04
  -5.71495123e+04  1.00000000e+00]
 [-1.44903749e+04 -5.72525042e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.44903749e+04
  -5.72525042e+04  1.00000000e+00]
 [-1.47780146e+04 -5.58831293e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.47780146e+04
  -5.58831293e+04  1.00000000e+00]
 [-1.04263850e+04 -5.90288177e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.04263850e+04
  -5.90288177e+04  1.00000000e+00]
 [-1.41671650e+04 -6.50945815e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.41671650e+04
  -6.50945815e+04  1.00000000e+00]]

In [7]:
ATA = np.dot(At,A)
ATA
L = EnUTM
L.shape

(64, 1)

In [8]:
ATL= np.dot(At,L)
ATL.shape

(6, 1)

In [9]:
from numpy.linalg import inv
m_inv=inv(ATA)*-1
m_inv

array([[-1.14796627e-08, -1.25876381e-09, -2.25135086e-04,
        -0.00000000e+00, -0.00000000e+00, -0.00000000e+00],
       [-1.25876381e-09, -3.47292265e-09, -2.25155675e-04,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-2.25135086e-04, -2.25155675e-04, -1.64972416e+01,
        -0.00000000e+00, -0.00000000e+00, -0.00000000e+00],
       [-0.00000000e+00, -0.00000000e+00, -0.00000000e+00,
        -1.14796627e-08, -1.25876381e-09, -2.25135086e-04],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        -1.25876381e-09, -3.47292265e-09, -2.25155675e-04],
       [-0.00000000e+00, -0.00000000e+00, -0.00000000e+00,
        -2.25135086e-04, -2.25155675e-04, -1.64972416e+01]])

In [10]:
x1=-(np.dot(m_inv,ATL)) 
print(x1)
a =x1[0]
b = x1[1]
c=x1[2]
d = x1[3]
e =x1[4]
f = x1[5]

[[ 1.00033020e+00]
 [-1.27844222e-04]
 [ 2.77496547e+05]
 [ 3.26097368e-04]
 [ 1.00025250e+00]
 [ 1.00001891e+07]]

In [12]:
ff = trains.to_numpy()
ff

array([[-15440.95464, -60109.51656],
       [-10549.46328, -64160.46096],
       [-14073.77424, -58544.42952],
       [-16230.17328, -65599.818  ],
       [-11079.72384, -66238.95312],
       [-10358.7804 , -56379.64848],
       [-10206.62424, -56876.71632],
       [-11760.67752, -58869.86448],
       [-12412.85808, -66106.0908 ],
       [-12056.0592 , -66784.5756 ],
       [-14331.696  , -61020.0456 ],
       [-10228.7832 , -65667.84936],
       [-15342.22992, -60846.73632],
       [-15980.3592 , -63074.3976 ],
       [-14854.24512, -55211.74632],
       [-14073.86568, -55381.00176]])

X_1 = a*X + b*Y + c
Y_1 = d*X + e*Y + f

In [13]:
ff = trains.to_numpy()
f1 = ff[:,0]*a

f2 = ff[:,1]*b

f3 =  ff[:,0]*d

f4 =  ff[:,1]*e

In [14]:
east1 = c+ f1 + f2
east1

array([262058.17822098, 266951.80265476, 263425.60998038, 261269.40088212,
       266421.63272448, 267141.55376686, 267293.82371649, 265739.51209629,
       265088.04129419, 265445.04473053, 263167.91954712, 267272.78133511,
       262157.02978944, 261518.97459101, 262644.45532245, 263425.11408423])

In [15]:
north1 = f +f3+f4

north1

array([9940059.35761748, 9936008.98545901, 9941625.28567491,
       9934567.41251767, 9933929.79556446, 9943791.82477049,
       9943294.68103889, 9941300.52283754, 9934062.25670054,
       9933383.71693473, 9939148.96039579, 9934501.32101731,
       9939321.98390382, 9937093.55204846, 9944958.55586584,
       9944789.51216863])

In [83]:
ene_1 = pd.DataFrame(east1)
ene_1.shape
#type(ene1)

(16, 1)

In [84]:
ene_2 = pd.DataFrame(north1)
ene_1.shape

(16, 1)

In [85]:
m1 =ene_1.join(ene_2, on= None, how ='right', lsuffix = '_left', rsuffix = '_right')
m1

           0_left       0_right
0   262058.178221  9.940059e+06
1   266951.802655  9.936009e+06
2   263425.609980  9.941625e+06
3   261269.400882  9.934567e+06
4   266421.632724  9.933930e+06
5   267141.553767  9.943792e+06
6   267293.823716  9.943295e+06
7   265739.512096  9.941301e+06
8   265088.041294  9.934062e+06
9   265445.044731  9.933384e+06
10  263167.919547  9.939149e+06
11  267272.781335  9.934501e+06
12  262157.029789  9.939322e+06
13  261518.974591  9.937094e+06
14  262644.455322  9.944959e+06
15  263425.114084  9.944790e+06

In [86]:
m1.to_csv('yy.csv', header=False, index=False)

In [87]:
ene1 = pd.read_csv('yy.csv',delimiter=',', header=None, ) # loading targets
print(ene1.shape)

(16, 2)

In [88]:
enen1 =ene1.to_numpy()

In [89]:
error1 = trains_labels - ene1
error1.to_csv('yy.csv', header=False, index=False)

In [90]:
error1

           0         1
0   0.121779 -0.057617
1   0.697345  0.114541
2  -0.309980  0.014325
3   1.299118 -0.112518
4   1.167276  0.104436
5  -0.853767 -0.024770
6  -0.823716 -0.081039
7  -0.312096 -0.022838
8   1.258706  0.043299
9   1.355269  0.083065
10  0.280453  0.039604
11  1.018665  0.078983
12  0.270211  0.016096
13  0.725409 -0.052048
14 -0.855322  0.044134
15 -0.814084 -0.012169

In [91]:
import math
from sklearn.metrics import mean_squared_error
mse_true  = mean_squared_error(trains_labels, ene1)
mse_true

0.36727522769986265

In [92]:
rmse = math.sqrt(mse_true)
rmse

0.6060323652247153

# fold 2

In [93]:
inputs = pd.read_csv('data/affine_2.csv',delimiter=',', header=None) #loading inputs from a different file 
print (inputs.shape)
targets = pd.read_csv('data/UTM2.csv',delimiter=',', header=None) # loading targets
print(targets.shape)

trains = pd.read_csv('data/Cass_f2.csv',delimiter=',', header=None) #loading inputs from a different file 
print (trains.shape)
trains_labels = pd.read_csv('data/aff_test2.csv',delimiter=',', header=None) # loading targets
print (trains_labels.shape)

(64, 6)
(64, 1)
(16, 2)
(16, 2)

In [94]:

affine= inputs.to_numpy()
EnUTM = targets.to_numpy()
print (type(affine))
print (type(inputs))
print (type(EnUTM))
print (EnUTM.shape)

<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
(64, 1)

In [95]:
A = affine
print(A)
At=A.T

[[-1.39531649e+04 -6.12847034e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.39531649e+04
  -6.12847034e+04  1.00000000e+00]
 [-1.42100503e+04 -6.22757911e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.42100503e+04
  -6.22757911e+04  1.00000000e+00]
 [-1.43330371e+04 -5.63926025e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.43330371e+04
  -5.63926025e+04  1.00000000e+00]
 [-1.23371762e+04 -6.22205309e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.23371762e+04
  -6.22205309e+04  1.00000000e+00]
 [-1.56578503e+04 -5.56681843e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.56578503e+04
  -5.56681843e+04  1.00000000e+00]
 [-1.42836595e+04 -6.43314842e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.42836595e+04
  -6.43314842e+04  1.00000000e+00]
 [-1.03296720e+04 -6.19742220e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.03296720e+04
  -6.19742220e+04  1.00000000e+00]
 [-9.97893864e+03 -6.11550110e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -9.97893864e+03
  -6.11550110e+04  1.00000000e+00]
 [-1.26059184e+04 -6.07014382e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.26059184e+04
  -6.07014382e+04  1.00000000e+00]
 [-1.06563566e+04 -6.31113089e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.06563566e+04
  -6.31113089e+04  1.00000000e+00]
 [-1.01469749e+04 -6.46121136e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.01469749e+04
  -6.46121136e+04  1.00000000e+00]
 [-1.24294392e+04 -5.71495123e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.24294392e+04
  -5.71495123e+04  1.00000000e+00]
 [-1.44903749e+04 -5.72525042e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.44903749e+04
  -5.72525042e+04  1.00000000e+00]
 [-1.47780146e+04 -5.58831293e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.47780146e+04
  -5.58831293e+04  1.00000000e+00]
 [-1.04263850e+04 -5.90288177e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.04263850e+04
  -5.90288177e+04  1.00000000e+00]
 [-1.41671650e+04 -6.50945815e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.41671650e+04
  -6.50945815e+04  1.00000000e+00]
 [-1.54409546e+04 -6.01095166e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.54409546e+04
  -6.01095166e+04  1.00000000e+00]
 [-1.05494633e+04 -6.41604610e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.05494633e+04
  -6.41604610e+04  1.00000000e+00]
 [-1.40737742e+04 -5.85444295e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.40737742e+04
  -5.85444295e+04  1.00000000e+00]
 [-1.62301733e+04 -6.55998180e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.62301733e+04
  -6.55998180e+04  1.00000000e+00]
 [-1.10797238e+04 -6.62389531e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.10797238e+04
  -6.62389531e+04  1.00000000e+00]
 [-1.03587804e+04 -5.63796485e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.03587804e+04
  -5.63796485e+04  1.00000000e+00]
 [-1.02066242e+04 -5.68767163e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.02066242e+04
  -5.68767163e+04  1.00000000e+00]
 [-1.17606775e+04 -5.88698645e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.17606775e+04
  -5.88698645e+04  1.00000000e+00]
 [-1.24128581e+04 -6.61060908e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.24128581e+04
  -6.61060908e+04  1.00000000e+00]
 [-1.20560592e+04 -6.67845756e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.20560592e+04
  -6.67845756e+04  1.00000000e+00]
 [-1.43316960e+04 -6.10200456e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.43316960e+04
  -6.10200456e+04  1.00000000e+00]
 [-1.02287832e+04 -6.56678494e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.02287832e+04
  -6.56678494e+04  1.00000000e+00]
 [-1.53422299e+04 -6.08467363e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.53422299e+04
  -6.08467363e+04  1.00000000e+00]
 [-1.59803592e+04 -6.30743976e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.59803592e+04
  -6.30743976e+04  1.00000000e+00]
 [-1.48542451e+04 -5.52117463e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.48542451e+04
  -5.52117463e+04  1.00000000e+00]
 [-1.40738657e+04 -5.53810018e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.40738657e+04
  -5.53810018e+04  1.00000000e+00]]

In [96]:
ATA = np.dot(At,A)
ATA
L = EnUTM
L.shape
ATL= np.dot(At,L)
ATL.shape
from numpy.linalg import inv
m_inv=inv(ATA)*-1
m_inv

array([[-8.05534757e-09, -9.61792241e-10, -1.62736156e-04,
        -0.00000000e+00, -0.00000000e+00, -0.00000000e+00],
       [-9.61792241e-10, -2.51306876e-09, -1.65498313e-04,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-1.62736156e-04, -1.65498313e-04, -1.22153730e+01,
        -0.00000000e+00, -0.00000000e+00, -0.00000000e+00],
       [-0.00000000e+00, -0.00000000e+00, -0.00000000e+00,
        -8.05534757e-09, -9.61792241e-10, -1.62736156e-04],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        -9.61792241e-10, -2.51306876e-09, -1.65498313e-04],
       [-0.00000000e+00, -0.00000000e+00, -0.00000000e+00,
        -1.62736156e-04, -1.65498313e-04, -1.22153730e+01]])

In [97]:
x2=-(np.dot(m_inv,ATL)) 
print(x2)
a =x2[0]
b = x2[1]
c=x2[2]
d = x2[3]
e =x2[4]
f = x2[5]

[[ 1.00031915e+00]
 [-1.84256422e-04]
 [ 2.77493134e+05]
 [ 3.35607081e-04]
 [ 1.00025170e+00]
 [ 1.00001892e+07]]

In [98]:
ff = trains.to_numpy()
f1 = ff[:,0]*a

f2 = ff[:,1]*b

f3 =  ff[:,0]*d

f4 =  ff[:,1]*e

In [30]:
east1 = c+ f1 + f2
east1

array([265097.50066485, 265265.61431265, 265121.80951807, 267215.49484794,
       262776.49618718, 263194.32101529, 265500.04886557, 261817.51802529,
       263194.12700273, 264982.61626357, 265569.10011629, 263251.50167887,
       265435.53180249, 263531.27129527, 264016.93957727, 262166.31921161])

In [31]:
north1 = f +f3+f4
north1

array([9944095.89515601, 9936518.63657279, 9941732.31591195,
       9942304.32686289, 9942960.70060425, 9940512.83301603,
       9944468.71153557, 9938077.68644361, 9940076.40190036,
       9944587.56181548, 9938719.00332337, 9942928.1466946 ,
       9935535.16122304, 9936992.04656539, 9936509.71158141,
       9941229.64967241])

In [32]:
ene_1 = pd.DataFrame(east1)
ene_1.shape
#type(ene1)
ene_2 = pd.DataFrame(north1)
ene_1.shape

(16, 1)

In [33]:
m1 =ene_1.join(ene_2, on= None, how ='right', lsuffix = '_left', rsuffix = '_right')
m1

           0_left       0_right
0   265097.500665  9.944096e+06
1   265265.614313  9.936519e+06
2   265121.809518  9.941732e+06
3   267215.494848  9.942304e+06
4   262776.496187  9.942961e+06
5   263194.321015  9.940513e+06
6   265500.048866  9.944469e+06
7   261817.518025  9.938078e+06
8   263194.127003  9.940076e+06
9   264982.616264  9.944588e+06
10  265569.100116  9.938719e+06
11  263251.501679  9.942928e+06
12  265435.531802  9.935535e+06
13  263531.271295  9.936992e+06
14  264016.939577  9.936510e+06
15  262166.319212  9.941230e+06

In [34]:
m1.to_csv('yy.csv', header=False, index=False)
ene1 = pd.read_csv('yy.csv',delimiter=',', header=None, ) # loading targets
print(ene1.shape)

(16, 2)

In [35]:
enen1 =ene1.to_numpy()
error2 = trains_labels - ene1
error2

           0         1
0  -0.700665  0.004844
1   0.385687 -0.036573
2  -0.409518 -0.015912
3  -0.594848 -0.126863
4  -0.496187 -0.000604
5  -0.121015 -0.033016
6  -0.748866 -0.111536
7   0.281975  0.013556
8  -0.127003 -0.001900
9  -0.816264 -0.061815
10 -0.000116 -0.003323
11 -0.501679  0.053305
12  0.568198  0.038777
13  0.328705 -0.046565
14  0.460423 -0.011581
15 -0.219212  0.050328

In [36]:
import math
from sklearn.metrics import mean_squared_error
mse_true  = mean_squared_error(trains_labels, ene1)
mse_true

0.11662079978378748

In [37]:
rmse = math.sqrt(mse_true)
rmse

0.34149787669001325

In [38]:
error2.to_csv('yy.csv', header=False, index=False)

# Fold 3

In [39]:
inputs = pd.read_csv('data/affine_3.csv',delimiter=',', header=None) #loading inputs from a different file 
print (inputs.shape)
targets = pd.read_csv('data/UTM3.csv',delimiter=',', header=None) # loading targets
print(targets.shape)

trains = pd.read_csv('data/Cass_f3.csv',delimiter=',', header=None) #loading inputs from a different file 
print (trains.shape)
trains_labels = pd.read_csv('data/aff_test3.csv',delimiter=',', header=None) # loading targets
print (trains_labels.shape)

(64, 6)
(64, 1)
(16, 2)
(16, 2)

In [40]:

affine= inputs.to_numpy()
EnUTM = targets.to_numpy()
print (type(affine))
print (type(inputs))
print (type(EnUTM))
print (EnUTM.shape)

<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
(64, 1)

In [41]:
A = affine
print(A)
At=A.T

[[-1.24020072e+04 -5.60750009e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.24020072e+04
  -5.60750009e+04  1.00000000e+00]
 [-1.22353426e+04 -6.36504086e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.22353426e+04
  -6.36504086e+04  1.00000000e+00]
 [-1.23781414e+04 -5.84379934e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.23781414e+04
  -5.84379934e+04  1.00000000e+00]
 [-1.02850188e+04 -5.78668286e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.02850188e+04
  -5.78668286e+04  1.00000000e+00]
 [-1.47224801e+04 -5.72091312e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.47224801e+04
  -5.72091312e+04  1.00000000e+00]
 [-1.43052394e+04 -5.96565228e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.43052394e+04
  -5.96565228e+04  1.00000000e+00]
 [-1.19995188e+04 -5.57024134e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.19995188e+04
  -5.57024134e+04  1.00000000e+00]
 [-1.56820514e+04 -6.20905946e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.56820514e+04
  -6.20905946e+04  1.00000000e+00]
 [-1.43055137e+04 -6.00928440e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.43055137e+04
  -6.00928440e+04  1.00000000e+00]
 [-1.25167644e+04 -5.55834194e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.25167644e+04
  -5.55834194e+04  1.00000000e+00]
 [-1.19315484e+04 -6.14506975e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.19315484e+04
  -6.14506975e+04  1.00000000e+00]
 [-1.42476322e+04 -5.72418362e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.42476322e+04
  -5.72418362e+04  1.00000000e+00]
 [-1.20656604e+04 -6.46336934e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.20656604e+04
  -6.46336934e+04  1.00000000e+00]
 [-1.39690450e+04 -6.31765361e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.39690450e+04
  -6.31765361e+04  1.00000000e+00]
 [-1.34836205e+04 -6.36589126e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.34836205e+04
  -6.36589126e+04  1.00000000e+00]
 [-1.53327811e+04 -5.89395418e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.53327811e+04
  -5.89395418e+04  1.00000000e+00]
 [-1.54409546e+04 -6.01095166e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.54409546e+04
  -6.01095166e+04  1.00000000e+00]
 [-1.05494633e+04 -6.41604610e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.05494633e+04
  -6.41604610e+04  1.00000000e+00]
 [-1.40737742e+04 -5.85444295e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.40737742e+04
  -5.85444295e+04  1.00000000e+00]
 [-1.62301733e+04 -6.55998180e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.62301733e+04
  -6.55998180e+04  1.00000000e+00]
 [-1.10797238e+04 -6.62389531e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.10797238e+04
  -6.62389531e+04  1.00000000e+00]
 [-1.03587804e+04 -5.63796485e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.03587804e+04
  -5.63796485e+04  1.00000000e+00]
 [-1.02066242e+04 -5.68767163e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.02066242e+04
  -5.68767163e+04  1.00000000e+00]
 [-1.17606775e+04 -5.88698645e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.17606775e+04
  -5.88698645e+04  1.00000000e+00]
 [-1.24128581e+04 -6.61060908e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.24128581e+04
  -6.61060908e+04  1.00000000e+00]
 [-1.20560592e+04 -6.67845756e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.20560592e+04
  -6.67845756e+04  1.00000000e+00]
 [-1.43316960e+04 -6.10200456e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.43316960e+04
  -6.10200456e+04  1.00000000e+00]
 [-1.02287832e+04 -6.56678494e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.02287832e+04
  -6.56678494e+04  1.00000000e+00]
 [-1.53422299e+04 -6.08467363e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.53422299e+04
  -6.08467363e+04  1.00000000e+00]
 [-1.59803592e+04 -6.30743976e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.59803592e+04
  -6.30743976e+04  1.00000000e+00]
 [-1.48542451e+04 -5.52117463e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.48542451e+04
  -5.52117463e+04  1.00000000e+00]
 [-1.40738657e+04 -5.53810018e+04  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.40738657e+04
  -5.53810018e+04  1.00000000e+00]]

In [42]:
ATA = np.dot(At,A)
ATA
L = EnUTM
L.shape
ATL= np.dot(At,L)
ATL.shape
from numpy.linalg import inv
m_inv=inv(ATA)*-1
m_inv

array([[-9.43686517e-09, -2.01290288e-10, -1.36287539e-04,
        -0.00000000e+00, -0.00000000e+00, -0.00000000e+00],
       [-2.01290288e-10, -2.39549545e-09, -1.47600029e-04,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-1.36287539e-04, -1.47600029e-04, -1.07549745e+01,
        -0.00000000e+00, -0.00000000e+00, -0.00000000e+00],
       [-0.00000000e+00, -0.00000000e+00, -0.00000000e+00,
        -9.43686517e-09, -2.01290288e-10, -1.36287539e-04],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        -2.01290288e-10, -2.39549545e-09, -1.47600029e-04],
       [-0.00000000e+00, -0.00000000e+00, -0.00000000e+00,
        -1.36287539e-04, -1.47600029e-04, -1.07549745e+01]])

In [43]:
x3=-(np.dot(m_inv,ATL)) 
print(x3)
a =x3[0]
b = x3[1]
c=x3[2]
d = x3[3]
e =x3[4]
f = x3[5]

[[ 1.00041462e+00]
 [-3.90964322e-04]
 [ 2.77481990e+05]
 [ 2.80056728e-04]
 [ 1.00019583e+00]
 [ 1.00001850e+07]]

In [44]:
t = trains.to_numpy()
t1 = t[:,0]*a

t2 = t[:,1]*b

t3 =  t[:,0]*d

t4 =  t[:,1]*e

In [45]:
east = c+ t1 + t2

print (east)
n= f +t3+t4

print(n)

[263547.00010729 266735.36542178 263661.46186661 265164.02463982
 261839.41201605 263217.55962097 267172.2649285  267522.82342648
 264894.57714353 266845.88939969 267356.06911945 265069.74083864
 263007.99092452 262719.69652725 267074.36024157 263334.40082548]
[9938884.34619487 9934609.73356665 9939839.93055227 9937948.78805911
 9944501.48779616 9935836.87618275 9938195.70738915 9939015.17700149
 9939468.10300188 9937058.30634179 9935557.35037312 9943020.77384411
 9942917.18457617 9944286.74714712 9941141.66142621 9935073.66208955]

In [46]:
ene_1 = pd.DataFrame(east)
ene_1.shape
#type(ene1)
ene_2 = pd.DataFrame(n)
ene_1.shape

(16, 1)

In [47]:
m1 =ene_1.join(ene_2, on= None, how ='right', lsuffix = '_left', rsuffix = '_right')
m1

           0_left       0_right
0   263547.000107  9.938884e+06
1   266735.365422  9.934610e+06
2   263661.461867  9.939840e+06
3   265164.024640  9.937949e+06
4   261839.412016  9.944501e+06
5   263217.559621  9.935837e+06
6   267172.264928  9.938196e+06
7   267522.823426  9.939015e+06
8   264894.577144  9.939468e+06
9   266845.889400  9.937058e+06
10  267356.069119  9.935557e+06
11  265069.740839  9.943021e+06
12  263007.990925  9.942917e+06
13  262719.696527  9.944287e+06
14  267074.360242  9.941142e+06
15  263334.400825  9.935074e+06

In [48]:
m1.to_csv('yy.csv', header=False, index=False)
ene1 = pd.read_csv('yy.csv',delimiter=',', header=None, ) # loading targets
print(ene1.shape)

(16, 2)

In [49]:
enen1 =ene1.to_numpy()
error1 = trains_labels - enen1
error1
error1.to_csv('yy.csv', header=False, index=False)

In [50]:
error1.to_csv('yy.csv', header=False, index=False)

In [51]:
import math
from sklearn.metrics import mean_squared_error
mse_true  = mean_squared_error(trains_labels, enen1)
print(mse_true)
rmse = math.sqrt(mse_true)
rmse

0.14162128717822026

0.3763260384005075

# aggregating the models

In [52]:
x_mean = np.mean( np.array([ x1, x2,x3 ]), axis=0 )

In [53]:
x_mean

array([[ 1.00035466e+00],
       [-2.34354989e-04],
       [ 2.77490557e+05],
       [ 3.13920392e-04],
       [ 1.00023334e+00],
       [ 1.00001877e+07]])

In [54]:
a =x_mean[0]
b = x_mean[1]
c=x_mean[2]
d = x_mean[3]
e =x_mean[4]
f = x_mean[5]

# evaluating train data

In [55]:

trains = pd.read_csv('data/train_Cass.csv',delimiter=',', header=None) #loading inputs from a different file 
print (trains.shape)
trains_labels = pd.read_csv('data/train_UTM.csv',delimiter=',', header=None) # loading targets
print (trains_labels.shape)

(48, 2)
(48, 2)

In [56]:
t = trains.to_numpy()
t1 = t[:,0]*a

t2 = t[:,1]*b

t3 =  t[:,0]*d

t4 =  t[:,1]*e

In [57]:
east = c+ t1 + t2

print (east)
n= f +t3+t4

print(n)

[262058.21299738 266952.38850973 263425.5114892  261270.00113634
 266422.42699502 267141.31554421 267293.64215752 265739.50482851
 265088.78881495 265445.87324186 263168.07842886 267273.53558461
 262157.14550175 261519.31196936 262643.98278013 263424.67865169
 265097.29270731 265265.79179041 265121.72079054 267215.45183224
 262776.26264841 263194.22490347 265499.83653421 261817.49496665
 263194.05274023 264982.3796035  265569.17817934 263251.28664033
 265435.76456678 263531.36346927 264017.07315497 262166.15069226
 263546.80582081 266734.31068002 263661.41031628 265163.58689557
 261840.19954581 263216.90799741 267171.74538387 267522.41114714
 264894.39341778 266845.21136541 267355.12550143 265070.10279553
 263008.46033044 262720.39763762 267074.30777388 263333.62270848]
[9940059.34941564 9936008.99528802 9941625.23084625 9934567.51909094
 9933929.85166324 9943791.68323881 9943294.54717557 9941300.44607595
 9934062.32648794 9933383.79537353 9939148.9561274  9934501.35581491
 9939321.988621   9937093.6072062  9944958.44670457 9944789.39674672
 9944095.76051616 9936518.63739416 9941732.22413631 9942304.17920844
 9942960.63710908 9940512.80540353 9944468.56132681 9938077.73337632
 9940076.38230417 9944587.42063947 9938718.95717232 9942928.07350197
 9935535.17641653 9936992.07628528 9936509.73962992 9941229.63118096
 9938884.35535953 9934609.69024205 9939839.97944313 9937948.81684092
 9944501.64992911 9935836.7598603  9938195.81339232 9939015.32561323
 9939468.17966955 9937058.35862612 9935557.36360658 9943020.98973312
 9942917.32681076 9944286.9310112  9941141.87464668 9935073.52108559]

In [58]:
ene1 = pd.DataFrame(east)
ene1.shape
#type(ene1)
ene2 = pd.DataFrame(n)
ene2.shape
m =ene1.join(ene2, on= None, how ='right', lsuffix = '_left', rsuffix = '_right')

In [59]:
m.to_csv('yy.csv', header=False, index=False)
ene = pd.read_csv('yy.csv',delimiter=',', header=None, ) # loading targets
print(ene.shape)
enen =ene.to_numpy()
error = trains_labels - enen
error

(48, 2)

           0         1
0   0.087003 -0.049416
1   0.111490  0.104712
2  -0.211489  0.069154
3   0.698864 -0.219091
4   0.373005  0.048337
5  -0.615544  0.116761
6  -0.642158  0.052824
7  -0.304829  0.053924
8   0.511185 -0.026488
9   0.526758  0.004626
10  0.121571  0.043873
11  0.264415  0.044185
12  0.154498  0.011379
13  0.388031 -0.107206
14 -0.382780  0.153295
15 -0.378652  0.103253
16 -0.492707  0.139484
17  0.208210 -0.037394
18 -0.320791  0.075864
19 -0.551832  0.020792
20 -0.262648  0.062891
21 -0.024903 -0.005404
22 -0.536534  0.038673
23  0.305033 -0.033376
24 -0.052740  0.017696
25 -0.579604  0.079361
26 -0.078179  0.042828
27 -0.286640  0.126498
28  0.335433  0.023583
29  0.236531 -0.076285
30  0.326845 -0.039630
31 -0.050692  0.068819
32  0.094179 -0.055360
33  0.289320  0.009758
34 -0.010316  0.020557
35  0.013104 -0.016841
36 -0.299546  0.150071
37  0.492003 -0.059860
38 -0.145384  0.086608
39 -0.311147  0.074387
40 -0.093418  0.020330
41 -0.011365  0.041374
42  0.074499  0.036393
43 -0.402796  0.110267
44 -0.260330  0.073189
45 -0.297638  0.168989
46 -0.407774  0.125353
47  0.477292 -0.121086

In [60]:
import math
from sklearn.metrics import mean_squared_error
mse_true  = mean_squared_error(trains_labels, enen)
print(mse_true)
rmse = math.sqrt(mse_true)
rmse

0.063695633896685

0.252379939568669

In [61]:
error.to_csv('yy.csv', header=False, index=False)

# testing

In [62]:
t = test.to_numpy()
t1 = t[:,0]*a

t2 = t[:,1]*b

t3 =  t[:,0]*d

t4 =  t[:,1]*e

In [63]:
east = c+ t1 + t2

print (east)
n= f +t3+t4

print(n)

[265479.68795304 265466.42477172 266757.51847232 265148.00202754
 262902.10052554 262235.20293904 265321.77126125 267280.63968192
 263065.66679906 266734.31068002 263661.41031628 261383.12166499
 267370.13859346 262405.19707857 265252.30295559 264410.17834192
 263466.26377081]
[9937546.42514951 9934421.7966132  9933159.91327771 9943952.3955293
 9941909.75527116 9934763.15292322 9939909.2489229  9940098.30448891
 9933393.0787038  9934609.69024205 9939839.97944313 9935610.24439524
 9933555.76729661 9944619.90382528 9940994.01963441 9944112.46524202
 9933486.15962715]

In [64]:
ene1 = pd.DataFrame(east)
ene1.shape
#type(ene1)
ene2 = pd.DataFrame(n)
ene2.shape
m =ene1.join(ene2, on= None, how ='right', lsuffix = '_left', rsuffix = '_right')
m

           0_left       0_right
0   265479.687953  9.937546e+06
1   265466.424772  9.934422e+06
2   266757.518472  9.933160e+06
3   265148.002028  9.943952e+06
4   262902.100526  9.941910e+06
5   262235.202939  9.934763e+06
6   265321.771261  9.939909e+06
7   267280.639682  9.940098e+06
8   263065.666799  9.933393e+06
9   266734.310680  9.934610e+06
10  263661.410316  9.939840e+06
11  261383.121665  9.935610e+06
12  267370.138593  9.933556e+06
13  262405.197079  9.944620e+06
14  265252.302956  9.940994e+06
15  264410.178342  9.944112e+06
16  263466.263771  9.933486e+06

In [65]:
m.to_csv('yy.csv', header=False, index=False)
ene = pd.read_csv('yy.csv',delimiter=',', header=None, ) # loading targets
print(ene.shape)
enen =ene.to_numpy()
error = labels - ene

(17, 2)

In [66]:
error

           0         1
0   0.012047  0.074850
1   0.375228  0.003387
2   0.481528  0.086722
3  -0.502028  0.104471
4  -0.200526  0.044729
5   0.697061 -0.152923
6  -0.171261  0.051077
7  -0.339682  0.095511
8   0.733201 -0.178704
9   0.289320  0.009758
10 -0.010316  0.020557
11  0.578335 -0.144395
12  0.361407  0.132703
13 -0.297079  0.096175
14 -0.302956  0.080366
15 -0.478342  0.134758
16  0.736229 -0.159627

In [67]:
import math
from sklearn.metrics import mean_squared_error
mse_true  = mean_squared_error(labels, ene)
print(mse_true)
rmse = math.sqrt(mse_true)
rmse

0.10366038610516672

0.3219633303734553

In [68]:
error.to_csv('yy.csv', header=False, index=False)